<div class="container">
  <h2>Formularz kontaktowy</h2>

  <ngb-alert *ngIf="success === true" type="success" (close)="success = null">
    Twoja wiadomość została wysłana. <strong>Dziękujemy!</strong>
  </ngb-alert>
  <ngb-alert *ngIf="success === false" type="danger" (close)="success = null">
    Przesłano niepoprawne dane.
  </ngb-alert>

  <form id="organization_contact_form" [formGroup]="fg">
    <div class="form-group row">
      <label for="name" class="col-md-2 col-form-label">Twoje imię i nazwisko</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="name" placeholder="Imię i nazwisko" [formControl]="fg.controls.name">
        <volontulo-form-error [fc]="fg.controls.name" [minLength]="3" [maxLength]="30" [customError]="'Proszę podać imię i nazwisko'"></volontulo-form-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="email">Twój email</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="email" placeholder="email" [formControl]="fg.controls.email"/>
        <volontulo-form-error [fc]="fg.controls.email"></volontulo-form-error>
      </div>
      <label class="col-md-2 col-form-label" for="id_phone_no">Telefon</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="phone_no" placeholder="Numer telefonu"
        [formControl]="fg.controls.phone_no"
        [imask]="{mask: '+48 000-000-000'}"
        [unmask]="true">
        <volontulo-form-error [fc]="fg.controls.phone_no" [minLength]="9" [maxLength]="9" [customError]="'Wprowadź poprawny numer np. +48 111-222-333'"></volontulo-form-error>
      </div>
    </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="message">Opis</label>
        <div class="col-md-10">
          <textarea class="form-control" rows="5" id="message" [formControl]="fg.controls.message"></textarea>
          <volontulo-form-error [fc]="fg.controls.message" [minLength]="10" [maxLength]="2000"></volontulo-form-error>
        </div>
      </div>
    <div class="form-group row d-none">
      <div class="col-md-9 offset-md-3">
        <label class="col-md-3 col-form-label" for="id_honey">Are you a bot?</label>
        <input
          type="text"
          id="id_honey"
          [formControl]="fg.controls.honeyBunny"
          class="form-control"
          />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-9 offset-md-3">
        <button
        [disabled]="fg.invalid || submitDisabled"
        type="submit"
        name="submit"
        class="btn btn-primary"
        (click)="onSubmit()">
          Wyślij
        </button>
      </div>
    </div>
  </form>
</div>
